#top-title{
	color:rgba(255, 255, 255, 0.6);
}

.image-holder{
	max-width:100%;
}

.image-holder img{
	max-width:100%;
	min-width:700px;
	text-align:center;
}

.selectOptions{
	width: 500px;
}

option{
	font-size: 20px;
	text-align: center;
	padding: 5px 0;
}